.lead__subtitle {
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    font-size: max(
        16px,
        min(
            30px,
            calc(16px + 14 * ((100vw - 320px) / 448))
        )
    );
    line-height: max(
        20px,
        min(
            36px,
            calc(20px + 16 * ((100vw - 320px) / 448))
        )
    );
    padding-top: max(
        16px,
        min(
            32px,
            calc(16px + 16 * ((100vw - 320px) / 448))
        )
    );
    width: max(
        288px,
        min(
            640px,
            calc(288px + 352 * ((100vw - 320px) / 448))
        )
    );
}